#Change __USER__ to a user on this system, not root.
[Unit]
Description=NVIDIA Persistence Daemon
Wants=syslog.target

[Service]
Type=forking
ExecStart=/usr/bin/nvidia-persistenced --user __USER__ --persistence-mode --verbose
ExecStopPost=/bin/rm -rf /var/run/nvidia-persistenced

